.credentials
{   
    border-style:solid;
    border-width:thin;
    border-color:#ff5328;
}
.heading
{
    margin-left:220px;
    margin-top:30px;
    height: 30px;
}
.main
{
    margin-top:60px;
    margin-left:350px;
}